BOOKING_DB_HOST=booking-postgres
BOOKING_DB_PORT=5432
BOOKING_DB_USER=booking_user
BOOKING_DB_PASSWORD=booking_pass
BOOKING_DB_NAME=booking_db
AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=airflow
AIRFLOW_DB_NAME=airflow
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__LOAD_EXAMPLES=false
DBT_PROFILES_DIR=/opt/airflow/dbt_project